{% extends 'core/base.html' %}

{% block title %}Política de Privacidade{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Política de Privacidade</h1>
    <div class="card">
        <div class="card-body">
            <h2>1. Coleta de Informações</h2>
            <p>Coletamos informações pessoais que você nos fornece voluntariamente ao se registrar no site, fazer uma compra ou entrar em contato conosco.</p>

            <h2>2. Uso das Informações</h2>
            <p>Utilizamos as informações coletadas para processar suas compras, fornecer suporte ao cliente e melhorar nossos serviços.</p>

            <h2>3. Compartilhamento de Informações</h2>
            <p>Não compartilhamos suas informações pessoais com terceiros, exceto conforme necessário para processar suas compras.</p>

            <h2>4. Segurança das Informações</h2>
            <p>Implementamos medidas de segurança para proteger suas informações pessoais.</p>

            <h2>5. Contato</h2>
            <p>Dúvidas: suporte@cgvbookstore.com</p>
        </div>
    </div>
</div>
{% endblock %}