{% extends 'core/base.html' %}

{% block title %}Termos de Uso{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Termos de Uso</h1>
    <div class="card">
        <div class="card-body">
            <h2>1. Aceitação dos Termos</h2>
            <p>Ao acessar e utilizar o site CG BookStore, você concorda em cumprir estes Termos de Uso.</p>

            <h2>2. Uso do Site</h2>
            <p>Você concorda em utilizar o site apenas para fins legais e de acordo com estes Termos de Uso.</p>

            <h2>3. Propriedade Intelectual</h2>
            <p>Todo o conteúdo do site é de propriedade da CG BookStore ou de seus fornecedores de conteúdo.</p>

            <h2>4. Limitação de Responsabilidade</h2>
            <p>A CG BookStore não será responsável por quaisquer danos resultantes do uso do site.</p>
        </div>
    </div>
</div>
{% endblock %}