{# core/templates/core/password/password_reset_email.html #}
{% autoescape off %}
Olá,

Você está recebendo este e-mail porque solicitou a recuperação de senha da sua conta no CGBookstore.

Por favor, acesse o link abaixo para definir uma nova senha:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Se você não solicitou este reset de senha, ignore este e-mail.

Atenciosamente,
Equipe CGBookstore
{% endautoescape %}

{# core/templates/core/password/password_reset_subject.txt #}
CGBookstore - Recuperação de Senha